<nav class="navbar" style="background: linear-gradient(to right, #f0f9ff, #ebfeff, #e3f3ff);">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="btnbutton">
        <button
          class="btn"
          type="button"
          style="color: white; font-weight: bold"
        >
          <i class="fas fa-question"></i>
          Support
        </button>
      </div>
      <div class="menu d-flex">
        <a href="#search" class="menu-item"><i class="fas fa-search"></i></a>
        <a href="#call" class="menu-item"><i class="fas fa-phone"></i></a>
        <a href="#noti" class="menu-item"><i class="fas fa-bell"></i></a>
        <div class="user">
          <span class="maker-badge fs-xs fw-semibold">Checker</span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="multi-box d-flex align-items-center">
          <img
            src="../../assets/images/sample_avatar.png"
            alt="#"
            class="avatar"
          />
          <div class="username" style="color: blueviolet">
            <button mat-button style="font-weight: 600">Checker</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

