.content-container {
  display: flex;
  /*padding: 28px;*/
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #ffffff;
  position: relative;
}

.icon-cancel {
  position: absolute;
  /*top: 1rem;*/
  right: 1rem;
  cursor: pointer;
  color: #6d83a7;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.text-title {
  font-size: 1.5rem !important;
}

.text-content {
  font-size: .875rem !important;
}

.clear-btn {
  border: 0;
  letter-spacing: 0.25px;
  margin: 10px 0;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  border: 1px solid blueviolet;
  width: 100%;
}

.close .clear-btn {
  background: var(--alias-primary-200, #DAE4FF);
  color: blueviolet;
}

.save-btn .clear-btn {
  background-color: blueviolet;
  color: white;
}

.save-btn .clear-btn:hover {
  border: 1px solid aqua;
  background-color: rgb(69, 12, 225);
  color: white;
}

.close .clear-btn:hover {
  border: 1px solid aqua;
  background-color: rgb(69, 12, 225);
  color: white;
}

.mat-dialog-actions {
  display: block;
  margin-top: 20px;
}

